nav {
    display: flex;
    flex-direction: row;
    background-color: #2a4d69;
    padding: 1.5em;
    gap: 1.5em;
    margin-bottom: 1em;
    border: 1px solid rgb(0 0 0 / 0.2);
    border-color: black;
    
}

nav a {
    text-decoration: rgb(70, 72, 75);
    color: #060606;
    font-weight: bold;
    font-size: 1.1em;
    padding: 0.5em 1em;
    border-radius: 4px;
    transition: background 0.2s;
    display: block;
}
body {background-image: url("../images/national monument");}

h1 {color: rgb(3, 3, 3);}

main{
    max-width: 840px;
}

main img {
    width: 150px;
    height: auto;
    box-shadow: 0 0 30px rgb(59, 58, 58);
    border: #463737;
    padding: 0;
}

p {
   padding: 0;
}

aside {
    width: 20em;
    margin: 1em;
    border: 1px solid rgb(0 0 0 / 0.2);
    padding: 1em;
    background-color: #eee;
    color: #333;
    text-align: center;
}

aside img {
    width: 200px;
    height: auto;
    box-shadow: 0 0 30px rgb(59, 58, 58);
    border: #463737;
    padding: 0;
}

footer {
    margin-top: 15px;
    border-top: 1px solid #000;
    text-align: center;
}
