* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-size: 16px;
    font-family: roboto,arial,sans-serif;
}

nav {
    display: flex;
    flex-direction: row;
    background-color: #2a4d69;
    padding: 1.5em;
    gap: 1.5em;
    margin-bottom: 1em;
    border: 1px solid rgb(0 0 0 / 0.2);
    border-color: black;
    
}

nav a {
    text-decoration: rgb(70, 72, 75);
    color: #060606;
    font-weight: bold;
    font-size: 1.1em;
    padding: 0.5em 1em;
    border-radius: 4px;
    transition: background 0.2s;
    display: block;
}

h1 {color: rgb(3, 3, 3);}

main{
    max-width: 840px;
}

main img {
    width:150px;
    height: 170;
    border: 1px solid #463737;
    padding: 1px;
    box-shadow: 0 0 30px rgb(59, 58, 58);
    float: right;
    margin: 0 0 1rem 1rem;
}

p {
   padding: 0;
}

aside {
    width: 20em;
    text-align: center;
    position: relative;
}

aside img {
    width: 200px;
    height: auto;
}

aside h2 {
    position: absolute;
    top: 65px;
    left: 105px;
}
footer {
    margin-top: 15px;
    border-top: 1px solid #000;
    text-align: center;
}

/* CLASS SELECTORS */
.box {
    margin: 1em;
    border: 1px solid rgba(0, 0, 0, 0.2);
    padding: 1em;
    background-color: #eee;
    color: #333;
}

.indent {
    padding-left: 2rem;
}